
body {
	background-image: url(../img/tafel.jpg);
	background-size: cover;
}

.btn{
	width: 30px;
    height: 30px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 50%;
    margin-left: 20px;
    margin-bottom: -12px;
    background-color: silver;
}

#tafel{
    z-index: -500;
    background-image: url(js/game.js);
    margin-top: -39px;
    margin-left: -39px;
    height: 656px;
    width: 1380px;
}

div .row{
    padding: 10px;
}

#frame{
	z-index: 10;
    border: 10px;
    border-radius: 25px;
    width: 390px;
    height: 564px;
    margin-left: 65px;
    box-shadow: 10px 10px 5px #262626;
    background-color: #00cc00;
    display:flex;
    flex-direction: row;
}
#render
{
	display:flex;
	flex-direction: column;
}

#colors{
    position: relative;
    width: 295px;
    z-index: 100;
    left: 10px;
    top: 95px;
    height: 86px;
    border-radius: 25px;
    background-color: #00cc00;
    box-shadow: 10px 10px 5px #262626;
}

#tekst1{
    position: relative;
    background-color: darkgreen;
    border-radius: 25px;
    left: 10px;
    height: 30px;
    width: 293px;
    bottom: 22px;

}

#logo{
    z-index: 500;
    position: relative;
    max-width: 320px;
}

#uitleg{
    position: relative;
    width: 264px;
    height: 451px;
    border-radius: 25px;
    padding: 13px;
    background-color: rgba(255,255,255, 0.6);
    left: 110px;
    top: 32px;
    font-size: 14px;
    line-height: 19px;
}


#text{
    position: relative;
    left: 57px;
    bottom: 46px;
    font-size: 17px;
    z-index: 500;
}

.vakje{
	border-radius: 25px;
	margin:0px 0 10px 0;
    width: 70px;
    height: 70px;
    background-color: silver;
    position: relative;
    border-style: solid;
    border-color: black;
}

.dot1{
	position: relative;
	z-index: 500;
    border-radius: 100%;
    background-color: red;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.dot2{
	position: relative;
	z-index: 500;
    border-radius: 100%;
    background-color: green;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.dot3{
	position: relative;
    z-index: 500;
    border-radius: 100%;
    background-color: blue;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.dot4{
	position: relative;
    z-index: 500;
    border-radius: 100%;
    background-color: yellow;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.dot4A{
	position: relative;
  	z-index: 500;
    border-radius: 100%;
    background-color: purple;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.dot4B{
	position: relative;
    z-index: 500;
    border-radius: 100%;
    background-color: orange;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.dot5, .dot6, .dot7, .dot8{
	position: relative;
    z-index: 30;
    border-radius: 100%;
    background-color: silver;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item1{
    z-index: 500;
    flex-direction: column;
    margin-left: 34px;
    margin-top: 96px;
 }

 .flex-item2{
	z-index: 500;
    margin-left: 57px;
    margin-top: -15px;
}

.flex-item3{
	z-index: 500;
    flex-direction: row;
    display: flex;
}

.flex-item4{
	flex-direction: column;
    position: relative;
    display: flex;
    margin-top: 125px;
    margin-left: 5px;
}

.flex-item6{
    z-index: 500;
    
    flex-direction: column;
    right: 569px;
    bottom: 47px;
}

.flex-dots{
    position: relative;
    left: 82px;
    bottom: 382px;
}

.flex2{
	top: 0px;
	left: 0px;
  	margin: 10px;
  	padding:20px;
  	font-size: 30px;
}

.flex3{
	top: 0px;
	left: 0px;
  	margin: 10px;
  	padding:20px;
  	font-size: 30px;
  }

  .flex-itemA{
    position: relative;
  }

    .flex-itemB{
    position: relative;
  }

    .flex-itemC{
    position: relative;
  }

    .flex-itemD{
    position: relative;
  }

   .flex-itemE{
    position: relative;
  }

  .board{
  	position: relative;
  	margin-bottom: 20px;
  	left: 20px;
  }

.rondjes{
	position: relative;
    z-index: 30;
    border-radius: 100%;
    background-color: silver;
    width: 30px;
    height: 30px;
    display: inline-flex;
    border-style: solid;
    border-color: black;
}


